.recruiter-cta {
  padding: 8px 20px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .recruiter-section {
    display: flex;
    flex-direction: column;
    justify-items: center;justify-content: center;
    align-items: center; /* Centers child elements horizontally */
    width: 100%;
    height: 600px;
    background: linear-gradient(135deg,  
    rgba(0, 0, 0, 0.9) 0%,   /* Almost pure black */
    rgba(10, 10, 10, 0.85) 30%,  /* Slightly lighter black */
    rgba(20, 20, 20, 0.8) 60%, /* Deep black with subtle transparency */
    rgba(30, 30, 30, 0.7) 100% /* Very dark grey */
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
    gap: 20px;
    position:relative;
     /* Centers the entire section */
}

.recruiter-section h1{
  font-size:5rem;
  color:var(--primary-color);/* Example color */
  text-align: center;
  font-family: var(--primary-font);
  font-weight: bold;
 
}

.recruiter-section h2{
  font-size:5rem;
  color:var(--tertiary-color);/* Example color */
  text-align: center;
  font-family: var(--primary-font);
  font-weight:500;
 
}



  h4{
    font-weight: 500;
    color:var(--tertiary-color);
    font-family:var(--secondary-font);
  }

 .recuiter-section h1{
    color:var(--secondary-color);
  }