.header {
  display: flex;
  align-items: center;
  justify-content:center;
  gap:0px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 1200px;

  border-radius: 12px;
  padding: 0.5% 0.5%;

  background-color: var(--tertiary-color);
  z-index: 1;
}

/* LOGO stays at left */
.Logo {
  flex:1;
  color: var(--primary-color);
  font-weight: 800;
  font-size: 2rem;
  flex-shrink: 0;
}

/* SIDEBAR (nav + button) aligned right */
.side-bar {
  flex:2;
  display: flex;
  align-items: center;
  gap: 1rem; /* Reduced gap */
  flex-wrap: wrap;
}

/* NAVIGATION */
.Nav {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; /* Compact spacing */
}

.Nav-list {
  color: var(--secondary-color);
  font-family: 'karla', 'sans-serif';
  font-size: 1rem;
}

.Nav-list:hover {
  color: var(--primary-color);
}

/* REGISTER BUTTON */
.register-btn {

  padding: 0.5rem 1rem;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: none;
  font-family: 'karla', 'sans-serif';
  border-radius: 12px;
  cursor: pointer;
}

.register-btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 50%;
    padding: 2% 4%;
    flex-direction: row;
    justify-content: space-between;
  }

  .side-bar {
    gap: 1rem;
  }

  .Nav {
    gap: 1.5rem;
  }

  .register-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .Logo {
    font-size: 1.8rem;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items:flex-end;
    padding: 4%;
    width: 50%;
    left: 0;
    transform: none;
  }

  .Logo {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .side-bar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .Nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .Nav-list {
    text-align: center;
  }

  .register-btn {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
}
