.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: fixed;
  top: 0;  /* Keeps it at the top */
  left: 50%;  /* Move it to the center */
  transform: translateX(-50%);  /* Shift it back by 50% of its width */
  width: 50%;
  border-radius:12px;
  margin: 4px;
  padding-left:10px;
  padding-right:10px;
  padding-top:4px; padding-bottom:4px;
  background-color: var(--tertiary-color);
  /* Right & Bottom shadow */
     z-index:1;
}


.Nav {
  display: flex;
  margin: 2px;
  
}

.Nav-list {
  color: var(--secondary-color);
  margin: 12px
}

.Nav-list:hover {
  color: var(--primary-color)
}

.register-btn {
  padding: 0.75rem;
  color:var(--tertiary-color);
  background-color:var(--primary-color);
  border-style:solid;
  
  border-radius:12px;

}
.Logo
{
  color:var(--primary-color);
  font-weight:800;
}


.register-btn:hover{
  border-width:1px;
  border-color:var(--tertiary-color);
}


