.dashboard{
    display: flex;
    flex-direction:column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.header p{
    font-family: var(--primary-font);
    color:var(--primary-color);
}