:root{
  /*colors*/
  --primary-color:#FF7820;
  --secondary-color:#333333;
  --tertiary-color:#ffffff;
  --accent-color:#FFBB00;
  --accent2-color:#20C997;

  /*background color*/
  --background-color:HSL(23, 100%, 85%);
  /*shadow*/
  --shadow-1:var(hsl(0,0%,20%),0.3);
}

.landing-page
{
  display:flex;
  flex-direction: column;
  align-items:center; justify-items: center;
}
