:root{
  /*colors*/
  --primary-color: hsl(22, 100%, 46%);      /* #FF7820 changed from 56 to 46*/
  --secondary-color: hsl(0, 0%, 20%);
  --tertiary-color: hsl(0, 0%, 85%);
       /* #333333 */
  /*--tertiary-color: hsl(0, 0%, 100%);*/       /* #ffffff */
  --accent-color: hsl(42, 100%, 50%);       /* #FFBB00 */
  --accent2-color: hsl(164, 72%, 46%);
  --secondary-light-1: hsl(0, 0%, 35%); /* Lighter Gray */
--secondary-light-2: hsl(0, 0%, 50%); /* Medium Gray */
--secondary-light-3: hsl(0, 0%, 65%); /* Soft Gray */     /* #20C997 */

  /*background color*/
  --background-color:HSL(23, 100%, 85%);
  /*shadow*/
  --shadow-1:var(hsl(0,0%,20%),0.3);
  --primary-font: "Bricolage Grotesque", sans-serif;
  --secondary-font:"Karla";
  --font-small: 12px;
    --font-medium: 16px;
    --font-large: 24px;
    --font-xlarge: 32px;
}

.landing-page
{
  display:flex;
  flex-direction: column;
  align-items:center; justify-items: center;
  background-color:var(--secondary-color) ;
}
