.preview-container h1 {
    font-family: var(--primary-font);
    font-size: 5rem;
    font-weight: bold;
    color: var(--secondary-light-1);/* Ensure a visible size */
}


.preview-container{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:40px;
    padding:20px;
    margin:40px;
    background: linear-gradient(135deg,  
    rgba(40, 40, 40, 0.8) 0%,   /* Very mild grey */
    rgba(0, 0, 0, 0.9) 15%,   /* Almost pure black */
    rgba(10, 10, 10, 0.85) 40%,  /* Slightly lighter black */
    rgba(20, 20, 20, 0.8) 70%, /* Deep black with subtle transparency */
    rgba(30, 30, 30, 0.7) 85%, /* Very dark grey */
    rgba(50, 50, 50, 0.6) 100% /* Mild grey at the end */
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  margin: -20px;
}
.preview{
    display: flex;
    gap:10px;
}
#image1
{
    width: 900px;
    height: auto;
}

#image2
{
    width: 300px;
    height:auto;
  
}
