.h1{
    font-family:"Bricolage Grotesque","Roboto",sans-serif;
    font: weight 900px;
}

.preview-container{ 
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:40px;
    padding:20px;
    margin:40px;
}
.preview{
    display: flex;
    gap:20px;
}
#image1
{
    width: 900px;
    height: 600px;
}

#image2
{
    width: 300px;
  
}